.nav-logo-text, .nav-logo-text:hover {
    color: #00285F;
}

.main-nav {
    padding-left: 88px;
    min-height: 70px;
}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 170px;
    justify-content: space-between;
}

.main-menu a.active {
    font-weight: bold;
}